@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--cor-primaria: #000000;
	--cor-secundaria: #f6f6f6;
	--cor-terciaria: #abedfe;
	--cor-hover: #272727;

    --fonte-titulo: "Red Hat Display", sans-serif;
	--fonte-primaria: "Red Hat Text", sans-serif;
	--fonte-secundaria: "Roboto", sans-serif;

	--imagem-url: url('../assets/foto-perfil.png');
}

body {
	box-sizing: border-box;
	background-color: var(--cor-primaria);
	color: var(--cor-secundaria);
	min-height:90vh;
	margin: 0;
	padding: 0;
}

.cabecalho {
	padding: 1% 0% 0% 3%;

}

.cabecalho__menu {
	display: flex;
	gap: 24px;
}

.cabecalho__menu__link {
	font-family: var(--fonte-secundaria);
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 400;
	color: var(--cor-terciaria);
	text-decoration: none;
}

.apresentacao {
	padding:2%;
	display: flex;
	align-items: center;
	justify-content:center;
	gap: 100px;
}

.apresentacao__conteudo {
	width:600px;
	height: 600px;
	text-align: center;
}

.apresentacao__contatos{
	width:600px;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content:center;
	flex-direction: row;
	text-align: center;
	padding: 32px;
}

.apresentacao__imagem {
	width: 600px; 
	height: 600px;
	border-radius: 60%;
	background-color: rgba(134, 159, 179, 0.794);
	background-image: var(--imagem-url);
	background-position:cover;
	background-size:cover ;
	background-repeat: no-repeat;
	margin: 50px;
}
.apresentacao__conteudo__titulo {
	font-size: 2.5rem;
	font-family: var(--fonte-primaria);
	margin: 0;
	margin-bottom: 3rem;
}
.titulo-destaque {
	color: var(--cor-terciaria);
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
}

.apresentacao__conteudo__texto {
	font-size: 1.5rem;
	font-family: var(--fonte-secundaria);
	font-weight: 100;
}

.apresentacao__redes {
	width:600px;
	height: 600px;
	align-items: center;
	text-align: center;

}

.apresentacao__links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}
.apresentacao__links__subtitulo {
	font-family: var(--fonte-secundaria);
	font-weight: 200;
	font-size: .5rem;
}

.apresentacao__links__navegacao {
	display: flex;
	justify-content: center;
	gap: 16px;
	border: 2px solid var(--cor-terciaria);
	width: 40%;
	text-align: center;
	border-radius: 8px;
	font-family: var(--fonte-secundaria);
	font-weight: 300;
	font-size: 2rem;
	padding: 5px 0;
	text-decoration: none;
	color: var(--cor-secundaria);
	
}
.apresentacao__links__navegacao:hover {
	background-color: var(--cor-hover);
}

.lista {
    list-style-type:circle;
	font-family: var(--fonte-secundaria);
	font-size: 1.5rem;
	font-family: var(--fonte-secundaria);
	font-weight: 100;
}

.lista li {
	margin-bottom: 15px;
}

.subtitulo {
	font-family: var(--fonte-secundaria);
	font-size: 1.7rem;
	font-weight: 500;
	margin: 0;
	margin-top: 10px;
}

.rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor-terciaria);
    opacity: 0.7;
	color: #000000;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 18px;
    font-weight: 600;
    z-index: 999; /* Certifica-se de que o rodapé está sempre na frente */
}

@media (max-width: 1200px) {
	.cabecalho {
		padding: 10%;
	}
	.cabecalho__menu {
		justify-content: center;
	}
	.apresentacao {
		flex-direction: column-reverse;
		align-items: center; /* Adicionando alinhamento vertical */
		padding: 5%;
	}
	.apresentacao .apresentacao__conteudo {
		flex-direction: column-reverse;
	}
	.apresentacao__conteudo {
		width: auto;
		height: auto;
	}

	.apresentacao__imagem {
		width: 300px;
		height: 300px;
		overflow: hidden;
		text-indent: -9999px;
		margin-bottom: 51px;
		
	}

	.rodape{
		height: 40px; 	
	}
	
	
}


